                                          :root {
                                             background-color: #151C22;
                                             font-family: sans-serif;
                                         }
                                         
                                         #navbar {
                                             overflow: hidden;
                                             background-color: #0C1115;
                                             padding-top: 16px;
                                             padding-bottom: 16px;
                                             margin-bottom: 24px;
                                         }
                                         
                                         #navbar img {
                                             margin-left: 40px;
                                         }
                                         
                                         #navbar a {
                                             float: left;
                                             display: block;
                                             text-align: center;
                                             text-decoration: none;
                                             padding: 16px;
                                             color: white;
                                         }
                                         
                                         .topnav-right {
                                             float: right;
                                             padding-right: 16px;
                                         }
                                         
                                         .sticky {
                                             position: fixed;
                                             top: 0;
                                             left: 0;
                                             width: 100%;
                                         }
                                         
                                         #greetings {
                                             color: #25CCF7;
                                             font-weight: lighter;
                                             margin: 0;
                                         }
                                         
                                         #name {
                                             color: white;
                                             font-weight: bold;
                                             font-size: 48px;
                                             margin: 16px 0 0 0;
                                         }
                                         
                                         #tag_line {
                                             color: rgba(255, 255, 255, 0.705);
                                             font-weight: normal;
                                             font-size: 36px;
                                             margin: 12px 0 0 0;
                                         }
                                         
                                         #summary {
                                             color: rgba(255, 255, 255, 0.705);
                                             margin: 32px 0 32px 0;
                                             font-size: 18px;
                                             line-height: 18pt;
                                         }
                                         
                                         header img {
                                             display: block;
                                         }
                                         
                                         #custom_btn {
                                             background-color: #1B9CFC;
                                             color: white;
                                             text-align: center;
                                             text-decoration: none;
                                             font-size: 16px;
                                             padding: 15px 32px;
                                             margin-top: 16px;
                                         }
                                         
                                         .section-title {
                                             color: #25CCF7;
                                             font-weight: bold;
                                         }
                                         
                                         .section-description {
                                             color: rgba(255, 255, 255, 0.705);
                                             margin: 32px 0 32px 0;
                                             font-size: 18px;
                                             line-height: 18pt;
                                         }
                                         
                                         .work-grid {
                                             display: grid;
                                             margin-bottom: 32px;
                                         }
                                         
                                         #work-detail-card {
                                             background-color: #2C3A47;
                                             padding: 2px 16px 16px 16px;
                                             margin-bottom: 10px;
                                             border-style: solid;
                                             border-width: 0.1px;
                                             border-color: #25CCF7;
                                         }
                                         
                                         #tag {
                                             color: white;
                                             background-color: #25CCF7;
                                             padding: 8px;
                                             font-size: small;
                                             border-radius: 2px;
                                             margin-right: 8px;
                                             margin-bottom: 8px;
                                         }
                                         
                                         .date {
                                             color: #25CCF7;
                                             font-size: 14px;
                                             font-weight: normal;
                                         }
                                         
                                         iframe {
                                             height: 315px;
                                         }
                                         
                                         footer ul li {
                                             color: white;
                                             margin-bottom: 16px;
                                         }
                                         
                                         footer a {
                                             color: #25CCF7;
                                             text-decoration: none;
                                             margin-bottom: 8px;
                                             font-size: large;
                                         }
                                         
                                         @media (max-width:600px) {
                                             #content {
                                                 padding: 100px 32px 0px 32px;
                                             }
                                             #greetings {
                                                 font-size: 24px;
                                             }
                                             header img {
                                                 width: 150px;
                                                 height: 150px;
                                                 margin-top: 50px;
                                                 margin-bottom: 20px;
                                             }
                                             header {
                                                 min-height: 60vh;
                                                 margin-bottom: 80px;
                                             }
                                             section {
                                                 margin-bottom: 64px;
                                             }
                                             .section-title {
                                                 font-size: 32px;
                                             }
                                             #work-detail-card {
                                                 height: fit-content;
                                             }
                                             .role {
                                                 color: #ffffff;
                                                 font-size: 24px;
                                                 font-weight: bold;
                                             }
                                             .company {
                                                 color: #ffffff;
                                                 font-size: 18px;
                                                 font-weight: lighter;
                                             }
                                             .work-summary {
                                                 color: white;
                                                 font-size: small;
                                                 font-weight: normal;
                                                 line-height: 20px;
                                             }
                                             span {
                                                 float: left;
                                             }
                                             iframe {
                                                 min-width: 400px;
                                                 width: fit-content;
                                                 height: 350px;
                                                 margin-bottom: 8px;
                                             }
                                             #project-video {
                                                 color: white;
                                                 margin-bottom: 32px;
                                             }
                                         }
                                         
                                         @media (min-width: 600px) {
                                             #content {
                                                 padding: 200px;
                                             }
                                             header img {
                                                 float: right;
                                                 width: 25%;
                                                 height: 25%;
                                                 margin-left: 24px;
                                             }
                                             #summary {
                                                 color: white;
                                                 opacity: 70%;
                                                 margin: 32px 0 32px 0;
                                                 font-size: 18px;
                                                 line-height: 18pt;
                                             }
                                             section {
                                                 margin-bottom: 200px;
                                             }
                                             .section-title {
                                                 font-size: 64px;
                                                 margin-top: 200px;
                                             }
                                             .work-grid {
                                                 grid-template-columns: 50% 50%;
                                                 row-gap: 20px;
                                                 column-gap: 20px;
                                             }
                                             .role {
                                                 color: #ffffff;
                                                 font-size: 24px;
                                                 font-weight: bold;
                                                 text-align: start;
                                                 height: 24px;
                                             }
                                             .company {
                                                 color: #ffffff;
                                                 font-size: 18px;
                                                 font-weight: lighter;
                                                 margin-top: 24px;
                                             }
                                             .work-summary {
                                                 color: white;
                                                 font-size: small;
                                                 font-weight: normal;
                                                 line-height: 20px;
                                             }
                                             #project-video {
                                                 display: grid;
                                                 grid-template-columns: 50% 50%;
                                                 color: white;
                                                 row-gap: 20px;
                                                 column-gap: 20px;
                                                 margin-bottom: 32px;
                                             }
                                             #tag {
                                                 width: fit-content;
                                             }
                                             span {
                                                 float: left;
                                             }
                                         }