:root {
    background-color: #151C22;
    font-family: sans-serif;
}

b {
    color: white;
}

a:hover {
    background-color: #25CCF7;
    color: white;
}

#navbar {
    overflow: hidden;
    background-color: #0C1115;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.icon {
    display: none;
}

.topnav-right {
    float: right;
    padding-right: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#greetings {
    color: #25CCF7;
    font-weight: lighter;
    margin: 0;
}

#name {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 16px 0 0 0;
}

#tag_line {
    color: #ffffffb4;
    font-weight: normal;
    font-size: 36px;
    margin: 12px 0 0 0;
}

#summary {
    color: #ffffffb4;
    margin: 32px 0 32px 0;
    font-size: 18px;
    line-height: 18pt;
}

header img {
    display: block;
}

#custom_btn {
    border-color: #25CCF7;
    border-style: solid;
    border-width: 2px;
    padding: 16px;
    /* background-color: #e67e22; */
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

#custom_btn:hover {
    background-color: #25CCF7;
    opacity: 1.0;
}

.section-title {
    color: #25CCF7;
    font-weight: bold;
}

.section-description {
    color: rgba(255, 255, 255, 0.705);
    margin: 32px 0 32px 0;
    font-size: 18px;
    line-height: 18pt;
    letter-spacing: 1px;
}

.work-grid {
    display: grid;
    margin-bottom: 32px;
}

#work-detail-card {
    background-color: #2C3A47;
    padding: 2px 16px 16px 16px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0.1px;
    border-color: #25CCF7;
}

#tag {
    color: #25CCF7;
    /* background-color: #1B9CFC; */
    border-color: #25CCF7;
    border-width: 2px;
    border-style: solid;
    font-size: small;
    padding: 8px;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
}

#other-work-tag {
    color: #25CCF7;
    font-size: 10pt;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 16px;
    margin-bottom: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.date {
    color: #25CCF7;
    font-size: 14px;
    font-weight: normal;
}

iframe {
    height: 315px;
}

footer ul li {
    color: white;
    margin-bottom: 16px;
}

footer a {
    color: #25CCF7;
    text-decoration: none;
    margin-bottom: 8px;
}

footer h2 {
    color: white;
    font-size: medium;
}

#credits {
    color: white;
    margin-top: 100x;
    font-weight: bolder;
}

.fa {
    border-color: #25CCF7;
    border-style: solid;
    border-width: 2px;
    padding: 16px;
    margin-right: 8px;
}

@media (max-width:600px) {
    #navbar img {
        margin-left: 32px;
        height: 32px;
    }
    .topnav-right a {
        display: none;
        text-decoration: none;
        color: #25CCF7;
    }
    .topnav-right .icon {
        float: right;
        display: block;
    }
    .topnav-right.responsive {
        position: relative;
    }
    .topnav-right.responsive a.icon {
        float: right;
        display: block;
    }
    .topnav-right.responsive a {
        float: center;
        display: block;
        text-align: left;
        font-size: larger;
        margin-bottom: 16px;
        margin-right: 48px;
    }
    #content {
        padding: 100px 16px 0px 16px;
    }
    #greetings {
        font-size: 24px;
    }
    header img {
        width: 75%;
        height: 75%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    header {
        min-height: 60vh;
        margin-bottom: 80px;
    }
    #custom_btn {
        width: auto;
        font-size: 80%;
        padding: 16px 16px;
        margin-top: 16px;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75ch;
    }
    section {
        margin-bottom: 64px;
    }
    .section-title {
        font-size: 32px;
    }
    #work-detail-card {
        height: fit-content;
    }
    .role {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
    .company {
        color: #ffffff;
        font-size: 18px;
        font-weight: lighter;
    }
    .work-summary {
        color: white;
        font-size: small;
        font-weight: normal;
        line-height: 20px;
    }
    span {
        float: left;
    }
    iframe {
        height: 350px;
        margin-bottom: 8px;
    }
    #project-video {
        width: fit-content;
        color: white;
        margin-bottom: 32px;
    }
    #credits {
        font-size: medium;
        color: white;
        margin-top: 48px;
        font-weight: bolder;
    }
}

@media (min-width: 600px) {
    #navbar a:not(:last-child) {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 16px;
        color: white;
    }
    #navbar img {
        margin-left: 40px;
    }
    #content {
        padding: 200px;
    }
    header img {
        float: right;
        width: 25%;
        height: 25%;
        margin-left: 24px;
    }
    #custom_btn {
        font-size: 16px;
        padding: 15px 32px;
        margin-top: 16px;
    }
    #summary {
        color: white;
        opacity: 70%;
        margin: 32px 0 32px 0;
        font-size: 18px;
        line-height: 18pt;
    }
    section {
        margin-bottom: 200px;
    }
    .section-title {
        font-size: 64px;
        margin-top: 200px;
    }
    .work-grid {
        grid-template-columns: 50% 50%;
        row-gap: 20px;
        column-gap: 20px;
    }
    .role {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        text-align: start;
        height: 24px;
    }
    .company {
        color: #ffffff;
        font-size: 18px;
        font-weight: lighter;
        margin-top: 24px;
    }
    .work-summary {
        color: white;
        font-size: small;
        font-weight: normal;
        line-height: 20px;
    }
    #project-video {
        display: grid;
        grid-template-columns: 50% 50%;
        color: white;
        row-gap: 20px;
        column-gap: 20px;
        margin-bottom: 32px;
    }
    #tag {
        width: fit-content;
    }
    span {
        float: left;
    }
}